body {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#cabecera
{
    background: coral;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}